@import "tailwindcss";


:root {
  --color-background: #212342;
  --color-surface: #312F2F;
  --color-primary: #9CFC97;
  --color-secondary: #1f8ece;
  --color-on-surface: #C9CAD9;
  --color-error: #FF1744;
}

@theme inline {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-on-surface: var(--color-on-surface);
  --color-error: var(--color-error);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ddfdf4;
    --color-surface: #8F91A2;
    --color-primary: #618B4A;
    --color-secondary: #2C497F;
    --color-on-surface: #031927;
    --color-error: #B00020;
  }
}

body {
  background: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-inter);
}

@layer base {
  h1 {
    @apply text-4xl text-secondary font-bold mb-4;
  }
  h2 {
    @apply text-3xl text-secondary font-semibold mb-3;
  }
  h3 {
    @apply text-2xl text-secondary font-medium mb-2;
  }
  h4 {
    @apply text-xl text-secondary font-medium mb-2;
  }
  p {
    @apply text-base leading-relaxed mb-2;
    color: var(--color-on-surface); /* Uses your defined variable */
  }
  a {
    @apply inline-flex whitespace-pre-wrap indent-0 text-blue-400 font-medium underline decoration-inherit transition-transform hover:-translate-y-1;
  }
}
